nav.navigation {
	position: relative;
	height: 60px;
	background: $light-tan;
	@include outer-container(100%);
	.logo {
		width: 200px;
		padding-left: 10px;
		height: 60px;
		line-height: 60px;
		float: left;
		font-size: 20px;
		h1 {
			font-size: 20px;
			font-weight: 200;
			line-height: 60px;
			height: 60px;
		}
	}
	ul {
		float: right;
		font-size: 0em;
		li {
			text-align: center;
			display: inline-block;
			font-size: 17px;
			height: 60px;
			line-height: 60px;
			list-style: none;
			@include transition(background-color .250s ease-in-out);
			&:hover {
				background: $tan;
			}
			a {
				text-decoration: none;
				color: $black;
				padding: 0 50px;
				height: 100%;
				display: block;
				width: 100%;
			}
		}
	}
}
